/*
  🌀 Golden-ratio.css - The stylesheet for the Golden Ratio Page
*/

/* Gold header color for Golden Ratio Page */
.lesson-container.golden-ratio-page h1 {
  color: goldenrod; 
}

/* 
  H2 Subheadings
  Order of Properties: Size It, Style It (Sz St)
*/

.lesson-container.golden-ratio-page h2 {
  /* --- Size It --- */

  /* 30px ÷ 16px = 1.875rem */
  font-size: 1.875rem;

  /* --- Style It --- */
  color: #FC3;
}

/* 
  H3 Subheadings
  Order of Properties: Size It, Space It, Style It (Sz Sp St)
*/
.lesson-container.golden-ratio-page h3 {
  /* --- Size It --- */

  /* 28px ÷ 16px = 1.75rem */
  font-size: 1.75rem;

  /* --- Space It --- */
  text-align: center;

  /* --- Style It --- */
  color: #D4AF37;
  text-decoration: underline;
}

/* 
  H4 Subheadings
  Order of Properties: Size It, Style It (Sz St)
*/
.lesson-container.golden-ratio-page h4 {
  /* --- Size It --- */

  /* 
    Golden Ratio Size
    1.618rem x 16px = 25.888px
  */
  font-size: 1.618rem;

  /* --- Style It --- */
  color: gold;
}

/* 
  Tidbits on Golden Ratio Page
  Order of Properties: Size It, Space It (Sp)
*/
.tidbit {
  /* --- Size It --- */
  font-size: 1.125rem;

  /* --- Space It --- */

  /* Indents toggle from the left; 2.5rem = 40px (assuming 1rem = 16px) */
  margin-left: 2.5rem;
}

/*
  🌻 Sunflower Image
  Order of Properties: Size It (Sz)
*/
.sunflower-image {
  /* --- Size It --- */
  width: 500px;

  /* Allows an element's height to auto adjust based on its content. */
  height: auto;
}

/*
  Golden Ratio Page Mobile Styles
*/
@media (width <= 768px) {
  .tidbit {
    /* --- Space It --- */
    margin-right: 1.75rem;
  }
}
